[2016-08-03 13:20] sdgluck opened #2 "Investigate better universal application solution"
Currently the library depends on component preloaders being called in the same order that each of the preloaders' components are rendered. This is because a Kasia component needs knowledge of the query object in the store in order to derive the correct entities that will be placed on its props.

A query ID is generated by a component when the `makePreloader` function is called, pushed into an arra

[2016-08-03 19:13] sdgluck opened #3 "Expose action creators to fetch posts and run arbitrary queries outside decorators"
Exposing action creators would allow the developer to dispatch requests for data from WordPress without having to declare that data as attached to a component using the included decorators, and also have it stored implicitly under the `wordpress` namespace in the store.

It would look something like:

[code]

Probably best to pull out the query reconciliation stuff from the HOCs and share it betwe

[2016-08-04 10:12] sdgluck opened #4 "Log warning when `connectWpPost` identifier is falsey"
It would be useful if a warning was logged when the identifier passed  to `connectWpPost` is falsey, whether derived from props or not. Or throw even?

Example:

[code]

[2016-08-04 10:54] sdgluck opened #6 "Update docs to accommodate change in redux-saga API"
The documentation currently explains configuration of Kasia using the older `< v0.10.0` saga API.

The docs should be updated to reflect the change in the API since `v0.10.0`.

See [this release](https://github.com/yelouafi/redux-saga/releases/tag/v0.10.0) for details.

[2016-08-04 18:09] sdgluck commented on #6
Fixed by #9

[2016-08-04 18:09] #6 closed

[2016-08-09 16:16] Oskarino29 opened #16 "Passing functions as props"
When passing a function (i.e. an event handler) as a prop into a React component, the `render()` method in the parent component is called repeatedly ad infinitum

[2016-08-09 17:26] sdgluck opened #17 "Add "Kasia in the wild" to readme"
It would be great to have a section in `README.md` that features websites that are built using Kasia.

[2016-08-10 09:00] sdgluck opened #18 "Use `node-wpapi` autodiscovery for custom content types"
At the moment the user is required to define explicitly the custom content types that are defined within the WP instance they are connecting to. It would be great if they could be "auto-discovered" a la `node-wpapi`.

[2016-08-10 12:33] sdgluck commented on #16
Fixed in #20

[2016-08-10 12:33] #16 closed

[2016-08-16 16:58] bt-frog opened #21 "Is there a way to have entity collections stored in the same model as single entity data?"
I have a custom content type of `work`. I want the data returned by calling either `connectWpPost('work')(WorkComponent)` or `connectWpPost('work', '')(WorkComponent)` to store the entities in the same property of the work model. **Note:** I admit it's a small hack to retrieve a collection of entities by passing an empty string ID to the API; if there's a better way please advise.

When the data i

[2016-08-17 09:08] sdgluck commented on #21
Might [`@connectWpQuery`](https://github.com/outlandishideas/kasia#connectwpqueryqueryfn-propscomparatorfn--component) accomplish what you're after?

[2016-08-17 17:10] bt-frog commented on #21
Hi @sdgluck. Thanks for the suggestion. I'll give that a quick go and update this comment with result.

[2016-08-17 19:31] #21 closed

[2016-08-18 19:12] mr47 opened #22 "Error with react-router when using connectToWpPost"
Hi,
Tried to use `kasia` for simple helloworld projects
But get this error
<img width="676" alt="2016-08-18 22 04 27" src="https://cloud.githubusercontent.com/assets/651943/17786934/d358dcec-658f-11e6-9ff2-1eaa750d83e6.png">

I get this error when trying switch between pages using `react-router` so
i checked source and maybe something missing or was not rewrote.
its a `connectToWpQuery`
[code]
htt

[2016-08-19 17:58] sdgluck commented on #22
Can you share how you are configuring your root reducer? It looks like the `wordpress` object doesn't exist on the store.

The difference in the default `props.kasia` object is intentional. With `connectWpPost` you are receiving a single entity, e.g. `props.kasia.page`, however with `connectWpQuery` you may receive any number of entities, hence the `entities` object.

[2016-08-19 21:49] sdgluck opened #23 "Add invariant in connect* decorators that checks for presence of `wordpress` on the store"
See #22 for why this would be useful.

Example warning when `wordpress` not found on the store:

[code]

[2016-08-20 06:57] mr47 commented on #22
@sdgluck i am using a default configuration of https://github.com/davezuko/react-redux-starter-kit

If reload the page its works like a charm but when try to navigate somewhere its triggers this error.
My root reducer is:
[code]
and then some where:
[code]

[2016-08-20 10:38] sdgluck commented on #22
Thanks for sharing. Looks like you are configuring the store correctly.

I'm not sure exactly what is causing this issue. If you would like to share the whole project I will find some time to take a better look.

[2016-08-20 11:14] mr47 commented on #22
@sdgluck its a row https://github.com/davezuko/react-redux-starter-kit just added a few lines of code and replaced home view with componet that i already showed nothing special.

[2016-08-20 11:16] sdgluck commented on #22
Are you configuring `redux-saga`?

[2016-08-20 11:18] mr47 commented on #22
@sdgluck sure as you described in `A slimline example...`

[2016-08-20 11:23] sdgluck commented on #22
OK great! Well as I said, if you want to share what you've got I'll take a look, as it's not obvious what the problem is.

[2016-08-24 05:47] nickarora opened #24 "makePreloader Documentation"
Is there any additional documentation or examples available to show how to use makePreloader for the purpose of server-side rendering?  The current Readme is very sparse.

[2016-08-24 08:14] sdgluck commented on #24
The documentation is very sparse indeed! We're sorry about that, other things have come first on the list of priorities, but we haven't forgotten. The aim is to have a boilerplate that can demonstrate these features of the library ASAP.

Essentially the steps to follow would be something like:

- Collect all components against the route.
- Map the components to the result of calling their `makePre

[2016-08-24 08:48] sdgluck commented on #22
@mr47 I will close this for now. As I said, if you want to share your project I will take a look at debugging it further.

[2016-08-24 08:48] #22 closed

[2016-08-24 19:44] nickarora commented on #24
I wouldn't mind helping, however I want to ensure that I've set things up correctly before attempting to document anything.  Currently I've got all of the above steps up and running, however I'm noticing a problem.

On the server, I'm doing the following:
1. I collect all components against the route using renderProps.components
2. Map the components to the results of calling their makePreloader f

[2016-08-24 20:07] sdgluck commented on #2
Closed in favour of #24

[2016-08-24 20:07] #2 closed

[2016-08-25 02:57] nickarora commented on #24
As an update, I was able to debug the issue above.

`makePreloader` assigns a queryId to the intermediate components when it renders server-side.  The first time makePreloader is run it begins by assigning a queryId of`'0'`.  With each refresh subsequent run of makePreloader, it incrementally updates the queryId it assigns (`'1'`, `'2'`, etc.).

Because idGen is a singleton, this number persists a

[2016-08-25 09:07] sdgluck commented on #24
Hey @nickarora, thanks for your time on this. Has the change you shared meant that server-side rendering is working for you now?

Great that you'd like help on this! Let's make this a place for discussion on the server-side rendering solution. I think perhaps not relying on an array that sits outside of the store would be a start - for example, maintaining the `queryIds` within the store.

[2016-08-25 17:31] bt-frog commented on #24
@nickarora - Thank you for posting this; I was just about to post something similar. I also appreciate the library too. Would you mind sharing what your fetchComponentData (or whatever you're calling it on the server) looks like?

[2016-08-26 07:25] sdgluck commented on #24
@bt-frog From the comments above it looks like there is a bug in the library that will prevent anyone from using server-side rendering as it currently stands. If @nickarora's solution above has meant that it now works for him, I will ask if he can submit a PR with this change.

Just quickly, on the example you have shared, what is `params`? The function returned by `makePreloader` doesn't accept a

[2016-08-26 07:36] sdgluck opened #25 "Improve Universal Application documentation"
The existing documentation is lacking and also incorrect in places, e.g. `makePreloader` doesn't accept `renderProps`, the preloader itself does.

This should follow all necessary fixes to the existing universal application solution API.

See #24 for details.

[2016-08-26 07:54] sdgluck opened #26 "Improve tests for Universal Application API"
There aren't any tests that cover the journey of data going into the store from calling a preloader to that data then being retrieved by a component.

[2016-08-26 07:54] sdgluck commented on #17
Not priority at the moment.

[2016-08-26 07:54] #17 closed

[2016-08-26 17:05] bt-frog commented on #24
Hi Sam,

Thanks for the update to the makePreloader call; while powering through the server-side rendering issues, I left that one there. The `params` argument is from the redux-router/server match `routerState.params` callback:
[code]

Similar to @nickarra, I have gotten the server-side rendering to work, without the component toggling between loading/loaded states once the client app initializes

[2016-08-27 09:42] sdgluck commented on #24
@bt-frog Sorry, your original example was correct. The props object should be passed to the function returned by calling `makePreloader`, not passed to `makePreloader` itself.

[2016-08-27 16:09] nickarora commented on #24
@sdgluck @bt-frog sorry for the late response, I was a bit caught up at work this week.

Yes. it is working currently for me; I'm using a forked version of Kasia with the change I described above.  I'll see if I can put together a sample repo to demonstrate the bug I'm describing.

Completely agree; that seems like an appropriate refactor

Sure:

[code]

[2016-09-02 16:06] #26 closed

[2016-09-02 16:06] #25 closed

[2016-09-02 16:06] #23 closed

[2016-09-02 16:06] #4 closed

[2016-09-02 16:07] sdgluck commented on #24
Fixed in v3, see #27 for more details. Thanks for reporting this @nickarora!

[2016-09-02 16:07] #24 closed

[2016-09-05 09:49] sdgluck opened #28 "Move prepublish scripts so they aren't run on `npm install`"
The `npm prepublish` command is executed on an `npm install` which causes lots of console output when installing kasia. Investigate a solution.

[2016-09-06 16:42] sdgluck commented on #24
@nickarora @bt-frog I have completed [v1 of the boilerplate](https://github.com/outlandishideas/kasia-boilerplate), maybe it will be useful for you. :-)

[2016-09-19 09:40] sdgluck opened #29 "TypeError: Cannot read property 'map' of undefined"
Kasia attempts to find data in the store even when an error has occurred during a request for data. This throws an uncaught error...

[code]

And comes from the first line of this function in `connectWpQuery.js`:

[code]

Need to 1) prevent finding entities if an error occurs and 2) provide feedback of error to developer.

[2016-09-21 13:38] sdgluck opened #30 "Preserve return value of `connectWpQuery` query func"
The decorators currently enforce post type-oriented results, by which I mean `connectWpQuery` components receive an object `entities` containing a key for each post type returned by the query, and `connectWpPost` components receive the `[name]` of the post type.

[code]

This means that complex queries can get out-of-hand. For example, if you wanted to find a "primary article" and its "related art

[2016-09-23 11:36] sdgluck commented on #29
Fixed on `v3.1.5` and feedback given in `v3.2.0`

[2016-09-23 11:36] #29 closed

[2016-09-25 14:16] luandro opened #31 "Uncaught SyntaxError: Unexpected identifier on Kasia import"
By just including Kasia:
[code]

I get an error on :
[code]

Pointing to:
[code]

[2016-09-25 14:31] sdgluck commented on #31
Are you using a bundler? Perhaps it is looking at `"jsnext:main"` in the `package.json` but you are not using a transpiler like Babel to convert the ES6 module syntax to CommonJS?

If that's not helpful, please provide some details of how I can reproduce this and I will take a look into it.

[2016-09-25 15:53] luandro commented on #31
Hey, I'm using Webpack, with Babel. A clone of [react-boilerplate](https://github.com/mxstbr/react-boilerplate). Should I add something in webpack config?

[2016-09-25 15:58] luandro commented on #31
I guess inverting the order in Webpack config from:
[code]

To:

[code]

[2016-09-25 15:59] #31 closed

[2016-09-25 18:45] luandro opened #32 "TypeError: inherit is not a function"
This seems to actually be a problem with `wpapi`, but since I'm using because of `Kasia` I might as well ask it here.

I'm importing both according to docs:

[code]

But when running I get:

[code]

Any thoughts?

[2016-09-26 09:38] sdgluck commented on #32
I suspect this is a problem with the bundler again? Please share you webpack configuration.

[2016-09-27 20:08] luandro commented on #32
It's exactly the same as [react-boilerplate](https://github.com/mxstbr/react-boilerplate), and [this](https://github.com/mxstbr/react-boilerplate/blob/master/internals/webpack/webpack.base.babel.js) is the relevant Webpack config file.

[2016-09-29 16:08] sdgluck opened #33 "Expose wrapped component as static property on connectWp* components"
Like react-redux `connect` we should expose wrapped components on a static property of their wrapper, which is created by the `connectWp*` decorators. This can be useful for testing purposes.

See: https://github.com/reactjs/react-redux/blob/master/docs/api.md#static-properties

[2016-10-03 14:09] sdgluck opened #34 "Make action objects FSA-compliant"
Consider amending action objects so they are FSA-compliant.

https://github.com/acdlite/flux-standard-action

[2016-10-03 14:21] sdgluck opened #35 "Embedded entities have badly normalised `id` property"
When using ACF post relationships and fetching those relationships with the `embed()` query modifier we end up with embedded entities having their `id` field normalised to `iD`.

Note: this may be an issue with [`wp-api-response-modify`](https://github.com/outlandishideas/wp-api-response-modify).

FYI this won't be an issue in vanilla v4 (without response modify plugin).

[2016-10-04 09:46] sdgluck commented on #34
Or maybe don't? Looks like

[2016-10-07 15:15] sdgluck opened #36 "Add issue and PR templates"
See https://github.com/blog/2111-issue-and-pull-request-templates

[2016-11-22 17:43] sdgluck opened #37 "Provide stack trace for captured query errors"
Current behaviour is Kasia captures _messages_ from errors that occur in a query function, however it would be more useful if it also provided the stack trace of the error.

[2016-11-22 17:46] sdgluck commented on #32
I'm closing this as I suspect this it isn't a problem with Kasia, but with your Webpack configuration. Unfortunately I don't have the time to look into this. If you found a solution please share.

[2016-11-22 17:46] #32 closed

[2016-11-29 13:03] sdgluck opened #38 "Support comma-separated (?) dot-paths for `shouldUpdate`"
A `connectWpQuery`'s `shouldUpdate` function tends to look something like this:

    const shouldUpdate = (thisProps, nextProps) => {
      return thisProps.location.query.page !== nextProps.location.query.page
    }

It would be nice if `shouldUpdate` could also be a string of dot-paths that inform Kasia to check that path for strict equality on both this and next props. For example, the followin

[2016-11-29 13:46] sdgluck commented on #37
https://github.com/mdlavin/nested-error-stacks

[2016-12-02 15:28] sdgluck opened #39 "Prefetching solution?"
Being able to start a query on behalf of an as yet unmounted connected component, which the component can then hook into instead of starting its own would be nice. For example, when the user hovers on a link to a Post the query can start before the component is mounted.

Food for thought...

[2016-12-21 08:57] sdgluck opened #40 "Allow plugins to intercept native reducers (move `wp-api-response-modify` out of default behaviour)"
I'm starting to think that applying `wp-api-response-modify` should not be the default behaviour of Kasia. Instead, a plugin called `kasia-plugin-wp-api-response-modify` should be available that intercepts the native `"kasia/KASIA_COMPLETE"` redux action and applies the modification as a third-party.

[2017-01-03 18:56] sdgluck opened #41 "Allow content type definition to be passed straight to decorator"
Save having to register a custom type that is used in only one place.

Something like this...

[code]

Maybe we could even derive a custom type from a string, e.g. `'book'` and append the `'s'` for the plural and call it a day.

[code]

[2017-01-04 16:16] kadamwhite commented on #41
I'd caution against blindly applying "s", pluralization's too irregular and that would make it harder to support resources named in other languages. This doesn't mean the reduced signature couldn't be supported, necessarily, just that it's probably better to allow both to be passed in if needed and only do the `string + 's'` inference if the plural isn't provided.

[2017-01-04 16:41] sdgluck commented on #41
@kadamwhite Thanks very much for your input! 👍 Yes I was thinking that both signatures could be supported, object or string, with a warning that naive pluralisation (`string + 's'`) would be employed should the consumer decide to use the latter, more simple form. However it did occur to me after posting this that it may be taking the whole "convenience" thing too far.

[2017-01-26 15:41] sdgluck opened #42 "Accept plugin middleware for modifying post content"
Currently to get post content displaying sensibly in React as-is we need to parse it using a lib like `html-to-react` (https://github.com/aknuds1/html-to-react).

It would be good if during configuration consumer could define middleware that posts are passed through before reaching the decorated component. This would require some changes to the plugin API such that plugins can be more than just sa

[2017-01-31 09:50] sdgluck commented on #28
Fixed in #43

[2017-01-31 09:50] #28 closed

[2017-01-31 09:50] sdgluck commented on #33
Fixed in #43

[2017-01-31 09:50] #33 closed

[2017-01-31 09:50] sdgluck commented on #37
Fixed in #43

[2017-01-31 09:50] #37 closed

[2017-01-31 09:51] sdgluck commented on #40
Fixed in #43

[2017-01-31 09:51] #40 closed

[2017-01-31 10:03] sdgluck commented on #35
This is an issue with [wp-api-response-modify](https://github.com/outlandishideas/wp-api-response-modify) so closing here.

[2017-01-31 10:03] #35 closed

[2017-01-31 12:55] olapersson opened #44 "Redux-Immutable support"
In order to use this in a project that uses redux-immutable some functionality would have to be overridden.

I haven't looked that deeply into it yet. But browsing the code in the v4 branch I think a pluggable merge function for the reducers and a pre-processor for _getState could work. I could then pass a function that merges immutable Maps in the reducers and calls `toJS()` on the state before c

[2017-01-31 14:44] sdgluck commented on #44
I'm not familiar with `redux-immutable` so can't contribute much to this conversation. Sounds like you have something of a solid approach already in mind (a plugin?). If there's anything the library could do to make it easier, let me know, or as always, we welcome PRs. 👍

[2017-01-31 19:25] olapersson commented on #44
Sort of a plugin should be possible (or just some simple documentation on how to implement immutable support). The reducer implementation would need to change a bit.

Taking the completeReducer as an example, it could look something like (the helper functions being part of the configuration with the plain JS functions as defaults. Haven't tested the code nor thought that much about it, just a demo

[2017-02-01 08:20] sdgluck commented on #18
Thoughts for the implementer...

Changes to API:
 - configuration `wpapi` option should accept a Promise which should resolve with instance of `node-wpapi` (a la [`WPAPI.discover`](https://github.com/WP-API/node-wpapi#auto-discovery)).
- [discussion] should `contentTypes` be ignored if `wpapi` config option receives a Promise?

Changes to internals:
- `wpapi.js`: should store `node-wpapi` instance

[2017-02-01 08:24] sdgluck commented on #30
Thoughts for the implementer...

Points to discuss:
- How should a preserved return value be stored in the state? Inside the query object? (Preserved queries do not get normalised? Or we could implement more sophisticated normalisation...)

Changes to API:
- `connect.js`: `connectWpQuery` should accept a third argument, e.g. `preserveResult`, that when `true` instructs kasia to preserve the return

[2017-02-01 15:00] sdgluck commented on #44
Yes this seems like a fine solution to me. My main concern would be the API for hooking into the internals. Obviously the less complicated and obtrusive the better. I would prefer all the config to be required at initialisation rather than e.g. at place of component decoration - do you have thoughts on this?

[2017-02-01 15:05] olapersson commented on #44
I agree, should be done at initialisation and shouldn't be to complicated to implement.

[2017-02-10 21:50] olapersson commented on #44
@sdgluck Is there a working example of v4 somewhere? I'm can't seem to get the wrapped components to update.

[2017-02-13 09:24] sdgluck commented on #44
@olapersson Not a public example, unfortunately. Working on getting a boilerplate on here soon. Are you able to provide more details? Do you mean that the component does not fetch new data on props change? Which decorator are you using?

[2017-02-13 12:54] olapersson commented on #44
Sure, here's minimal reproduction https://github.com/olapersson/kasia-debug (you'll need to disable CORS in your browser or point the config at something that allows requests from localhost)

The request is dispatched and the store is updated, the props aren't and the shouldUpdate function is never called.

![screen shot 2017-02-13 at 10 44 56](https://cloud.githubusercontent.com/assets/1655608/22

[2017-02-13 19:14] sdgluck commented on #44
@olapersson Thank you v. much for the reproducible. 👍 I have pushed a new version to `kasia@beta` and amended your example to use it: https://github.com/sdgluck/kasia-debug

Let me know if that works for you (it does for me), and I will merge my changes into `master` and publish.

[2017-02-13 20:24] olapersson commented on #44
Yes, works for me.

connectWpPost seems to have a bug still, if leaving the default value for `keyEntitiesBy` null is returned on `props.kasia.page`

Pushed a repro to master here: https://github.com/olapersson/kasia-debug, keying by slug rather than id works. The request gets it right (uses slug rather than id) while `_makePropsData` doesn't

[2017-02-14 15:39] sdgluck commented on #44
Thanks, there's a new version on `beta` that should fix that. If you could run it again it would be much appreciated. 👍

[2017-02-14 16:43] olapersson commented on #44
Yeah, working now. :)

[2017-02-14 17:03] sdgluck commented on #44
@olapersson Brilliant. Thanks for your help. #49 is on `latest` now.

[2017-02-23 12:29] sdgluck opened #51 "Pre-decorated components"
Add components to the library, e.g. `<WpPage slug='homepage' />` that use decoration under the hood.

Have started on this, see branch `components`.

[2017-02-23 12:35] sdgluck commented on #18
In progress on branch `autodiscovery-support`.

[2017-02-28 14:13] sdgluck opened #52 "Actions, generators, etc. for all non-GET requests to WP API"
Following on from #3, Kasia should expose action creators and all the bits and pieces that come with them which implement functionality to allow components to do POST, PUT, DELETE actions to the WP API.

These should be available to any connected component, I guess?

Example, quick mock of API...

[code]

[2017-04-26 14:11] sdgluck opened #53 "Taxonomy not recognised"
Making a request using `connectWpQuery` for a taxonomy, kasia says it cannot identify the entity type:

This is a problem in `src/contentTypes.js#derive()`.

[2017-05-01 21:50] sdgluck commented on #53
Fixed in v4.0.25

[2017-05-01 21:50] #53 closed

[2017-05-08 13:04] rasmuswinter opened #55 "Routes without components generate errors"
Routes can have no component, if they have an <IndexRoute> child, but the server-side rendering logic doesn't take account of this.

Line 41 of `util/preload` attempts to access the `preload` of the route components, so needs to check that the component exists first

[2017-05-08 19:53] sdgluck commented on #55
Thanks. 👍 Fixed in v4.0.26

[2017-05-08 19:53] #55 closed

[2017-08-16 19:15] nickpalmer opened #56 "kasia-plugin-wp-api-response-modify not published to npm"
[code]

Is there a reason this plugin hasn't been pushed to npm?

[2017-08-16 23:59] nickpalmer opened #58 "Testing apps that use kasia?"
There are two great advantages I see to redux-saga:

1) Complex series of operations are easy to express. One can yield a first call and then use that data in a second call without having to resort to chaining promises. The order of operations is clear and the data dependencies are directly visible in the code.

2) They are easy to test. I can easily write a test that ensures the the right API cal

[2017-08-17 09:03] sdgluck commented on #58
Hey Nick-

Currently Kasia does not support generators as query functions so unless async/await is available to you the usual Promise approach is the only way. If support for generators is desirable I can look into implementing this.

With regards to testing Kasia components, this can be done by 1) making your component available as a named export prior to decoration and then 2) lifting the query

[2017-08-17 09:05] sdgluck commented on #56
Ah, good spot. 👍 It hasn't been tested and to be honest I forgot about it after splitting it out into a separate module, probably because we haven't needed it since. I will try and get it tested and published asap.

[2017-08-17 10:02] #36 closed

[2017-08-17 20:19] nickpalmer commented on #58
Yeah, I was thinking that using generators as query functions would be much cleaner. Since the library is already using sagas it would seem to make sense to allow complex queries to be expressed using sagas as well instead of forcing users to go back to promises or async/await. I am open to looking to contribute this, but would want input about API issues for it. Does the API do generator detectio

[2017-08-18 06:48] nickpalmer commented on #58
I got generator support working by changing wrapQueryFn in `connect.js` to return a generator which uses call:

[code]

In theory, detecting if queryFn is a generator and doing one or the other should add transparent support for generators as query function.

Alternatively, a flag indicating all queries will be done with generators would also work.

[2017-08-18 06:53] nickpalmer commented on #56
Not super urgent, I am just evaluating Kasia and wanted to see what that plugin does. Thanks for the work on this project. Looking good so far. Is very aligned with what I was thinking to build already.

[2017-08-18 06:59] nickpalmer commented on #30
I would advise that if you are going to start adding options to connectWpQuery to make it an options hash as for sure you will find another thing you want an option for quickly. Take using generators as a query function for example. ;)

[2017-08-18 14:01] sdgluck commented on #30
@nickpalmer Yep, that is the way we chose to do it. 😄 This feature is implemented on branch `v4.2.0` and available on npm at `kasia@4.2.0-beta.0`.

[2017-08-18 14:03] sdgluck commented on #56
Thanks- I hope you find it useful!

[2017-08-18 18:13] nickpalmer commented on #58
It turns out the change to support generators is completely transparent and totally backwards compatible, making all the query functions easy to test like sagas are. Loving it!

[2017-08-18 18:46] nickpalmer commented on #58
Closing this since all changes have been merged. Thanks for being awesome at accepting PRs!

[2017-08-18 18:46] #58 closed

[2017-08-21 15:33] nickpalmer opened #61 "React PropTypes warning"
[code]

[2017-08-21 15:35] nickpalmer opened #62 "readux-saga takeEvery warning"
[code]

[2017-08-21 18:00] sdgluck commented on #61
I've noticed this too but always forget to file an issue- so thank you!

Looks like the only place we are using `PropTypes` is in [`connect.js#L55`](https://github.com/outlandishideas/kasia/blob/b7dd36df2942ce94d4f96c4ab85611b35ed473e8/src/connect.js#L55).

[2017-08-21 22:42] nickpalmer opened #63 "Document using react-router v4 with kasia and universal rendering"
I got this working today and it might be nice to tell other people how to do it.

[2017-08-21 22:43] nickpalmer commented on #62
I am running redux-saga 0.15.3

[2017-08-21 22:58] joshlevinson commented on #63
Would be very excited to see this–this was my first thought after discovering this (great!) library and spending a few minutes reading the readme 😄

[2017-08-22 10:24] sdgluck commented on #63
I haven't used v4 of react-router so couldn't do this without some serious digging (the API is vastly different at first glance). Happy to accept PRs though! 😸

[2017-08-22 10:25] sdgluck commented on #62
Is this v4.1 or v4.2 beta?

[2017-08-23 12:59] sdgluck commented on #38
Implemented in v4.2 beta.

[2017-08-23 12:59] #38 closed

[2017-08-23 12:59] #30 closed

[2017-09-07 09:42] josephmartz commented on #63
Same here. The API is totally different but this library works fluently <3

[2017-09-12 07:08] joshlevinson commented on #56
Tagging along with this issue–I don't believe the plugin works.
I emulated it with a custom plugin with the same signature as the kasia-wp-modify one and quickly realized that the return value must have a `sagas` property, which the plugin does not.

[2017-09-12 07:47] joshlevinson commented on #56
Another oddity: The api-modify effect clobbers the entire state and just returns `action.data` post-effects. Upstream code expects the state to be returned in the shape of [`completeReducer`](https://github.com/outlandishideas/kasia/blob/ca320f13e4f8b691754a50a4ec2330d5dc73fab9/src/redux/reducer.js#L73).

For lack of a better immediate solution, my effect looks like this:

[code]

Once the modify

[2017-09-13 16:13] joshlevinson commented on #58
@nickpalmer Do you have any examples of your use of generators in query functions? V. interested, as I'm only just learning generators.

[2017-09-13 23:12] nickpalmer commented on #58
[code]

To test you simply import these three functions into your test and:
- Mock `wpapi` using `jest.fn` and test `getTagsBySlug` and `getPostsByTagId`.
- Test `doFetchPostsByTopicSlug` like any other generator.

[2017-09-15 19:02] #61 closed

[2017-09-15 19:07] nickpalmer commented on #39
This can be done with an intermediate component. You put the query on the intermediate component and then it doesn't render its children until the query is complete, passing on the connectWpQuery results as props.

It can also rendering a loading spinner or any error. Kasia could provide that kind of component but it is almost trivial to do yourself so I wonder if it would end up being too opinion

[2017-09-15 19:09] nickpalmer commented on #62
I am seeing it on v4.2 beta.

[2017-09-21 22:26] joshlevinson opened #69 "Allow single resource arbitrary queries to get passed as props"
When making an arbitrarty query with `connectWpQuery`, resources end up getting stored on `props.kasia.data`, even if only one resource was fetched.
It'd be nice if there was a concise way to translate an arbitrary query to a single resource and have that resource get passed as a prop, instead of having to filter through data to find the originally requested resource.
Right now, I'm thinking about

[2017-09-24 21:31] sdgluck commented on #69
Hey Josh- that sounds useful. It's definitely a pain point having to trudge through the props for a single entity when using `connectWpQuery`.

The approach seems good. Did you have something in mind API wise? In 4.2 we have the options object available to us when using `connectWpQuery` - we could do something like `single=true`.

Or were you thinking that recognising a request which returned a si

[2017-09-25 17:09] joshlevinson commented on #69
@sdgluck Something like the former is what I had in mind–I agree that doing it silently would easily lead to confusion/a potential source of bugs.

[2017-09-29 19:07] AnalogMemory commented on #63
@nickpalmer Do you have a sample of how you got it running?

[2017-09-29 21:25] nickpalmer commented on #3
I enhance my store with actions so returning them from the `kasia({ wpapi })` call made the most sense to me. Not opposed to having them exposed elsewhere.

See here: https://github.com/outlandishideas/kasia/pull/70

[2017-09-29 21:43] nickpalmer commented on #63
Not that is separate at this point, and I don't think I will be able to break it out into a demo project for at least a month, if not more.

[2017-09-30 14:41] sdgluck commented on #3
Thanks @nickpalmer! I have published that onto `beta`.

[2017-09-30 14:41] #3 closed

[2017-10-01 11:46] sdgluck commented on #39
I think you're right that this would be too opinionated @nickpalmer. Thanks for your feedback!

[2017-10-01 11:46] #39 closed

[2017-10-10 06:59] seantjohnson-dev commented on #62
Any word on this yet? I'm using kasia 4.2.0-beta.4 and redux-saga 0.15.6 and still getting this message.

[2017-10-10 09:07] sdgluck commented on #62
Fixed in #71, up on `kasia@beta`.

[2017-10-10 09:07] #62 closed

[2017-10-19 20:53] nickpalmer opened #74 "Add a mechanism for caching queries"
In a SPA if I navigate back Kasia shouldn't have to re-run the queries to build the page.

[2017-10-19 20:54] nickpalmer commented on #74
This probably needs some way to specify a 'cache-key' and an expiration time as a portion of the API. Maybe an optional third function to the connect calls that returns those values?

[2017-10-22 04:44] bluengreen opened #75 "Next.js support?"
I was gonna try to use this with Next.js to simplify the universal side. I thought I'd ask here first and see if anyone has tried this. If so, what was your experience?

Thanks in advance.

[2017-10-31 18:24] shankie-san opened #76 "Invariant violation on IE"
I'm having some fun with IE – on every version of IE that I can get my hands on, I get the following error:

`Invariant violation: Connect(KasiaConnectWpQueryComponent).render(): A valid React element (or null) must be returned`

Classic 😁  . Before I produce a minimal test case, can anyone else confirm if they've got this error?

[2017-11-05 15:16] sdgluck commented on #75
Hi @bluengreen, I think this would be possible. You would have to use the Next.js API rather than their out-of-the-box solution in order to run the Kasia preloaders prior to Next.js doing its thing. Next.js doesn't come with any kind of a store so you'd also have to do all the usual set-up as per Kasia docs. Let us know how you get on!

[2017-11-05 15:17] sdgluck commented on #76
Thanks for reporting this @shankie-san. I haven't seen this myself so would appreciate seeing a repro if you get the time.

[2017-11-05 15:20] sdgluck commented on #74
It might be possible by creating an "intercept transport" for the node-wpapi library that does something like hashing the final request URL and storing that as the cache-key. Before each request is fired, we check if the hash is different. Something like that?

[2017-11-15 12:41] shankie-san commented on #76
Hey @sdgluck it turns out that this was operator error, well at least partially. IE11 doesn't have `fetch` built in (and I think `wpapi` uses fetch), so I had to polyfill it using webpack. So, not specifically a kasia issue, but might be worth just a quick note in the docs that you'll have to polyfill fetch for IE11. Does that make sense.

Nice sighthound avatar, BTW. I've got a nervous greyhound

[2017-11-15 12:42] #76 closed

[2018-01-09 20:49] MickeyKay opened #77 "How to expose express req/res objects to node-wpapi"
Is there a way to pass our express app's `req`/`res` objects to Kasia, specifically within our node-wpapi instance?

We've trying to hook up node-redis middleware for server-side caching, and the cache instance gets passed through on the `req` object. I'm thinking we can create a custom `transport` method ala https://github.com/WP-API/node-wpapi#customizing-http-request-behavior and then check for

[2018-01-10 00:37] MickeyKay commented on #74
We have a similar need, and are likely going to try to integrate node-redis into that `transport` method. I believe this is the prescribed approach. Here's an example for reference (not caching specifically): https://github.com/WP-API/node-wpapi#customizing-http-request-behavior

[2018-01-10 12:04] sdgluck commented on #77
This isn't possible currently, but wouldn't take much to implement, at least for SSR anyway. Creating a dummy request object on the client would be bit more work, if desirable. For the former only (access to `req` during SSR), this would require a simple change to [https://github.com/outlandishideas/kasia/blob/master/src/connect.js#L284](the preload), which could be passed the `req` object as an a

[2018-01-10 19:38] MickeyKay commented on #77
Thanks @sdgluck, I probably don't have the bandwidth to take this on any time soon, but will definitely circle back if time opens up for me. Thanks for the quick response, excited to see the continued development of this great project.

[2018-01-10 20:49] MickeyKay commented on #56
Any update here? Still seems to be failing.

[2018-01-24 17:40] sdgluck commented on #56
@MickeyKay Apologies, I've not found the time to fix this yet. Am working on the next version of Kasia atm (including your `req/res` feature request 😃). This is next on the list!

[2018-01-24 17:42] sdgluck commented on #77
@MickeyKay Can I confirm that when you say "pass `req`/`res` objects to Kasia", you mean in order to access them in a connected component's query function?

[2018-01-26 16:11] sdgluck commented on #42
Closing as this can be done via plugins.

[2018-01-26 16:11] #42 closed

[2018-01-26 16:11] #51 closed

[2018-01-26 16:11] #52 closed

[2018-02-02 07:25] MickeyKay opened #78 "How to identify specific queries in plugin reducers?"
I'm hoping to better understand how to identify specific queries within my custom plugin's reducer. Here's an artificial example to help better explain my question. . .

Let's say I have three components (A, B, and C), each decorated with a basic `@connectWpPost`. When component A's WP API fetch completes, I want to fire off a secondary action, but I don't want to do so for components B or C. In m

[2018-02-02 10:09] sdgluck commented on #78
This isn't possible at the moment, unless with some trickery that I'm not aware of. If desirable we could add the component's `displayName` for which a request is being made to the request object? Open to other suggestions too.

[2018-02-02 10:17] sdgluck commented on #77
In that case I'm not sure I understand what functionality you are asking to see in Kasia. Could you give an example of the kind of API you're looking for?

[2018-02-02 10:21] sdgluck commented on #41
Closing as on second thought I think this isn't that useful of a feature.

[2018-02-02 10:21] #41 closed

[2018-02-02 17:28] MickeyKay commented on #78
@sdgluck that could work, but I think a more robust solution might be to add a new param to Kasia queries for something like `queryIdentifier`. So you could do something like:
`@connectWpPost('post', props => props.id, 'my-custom-query')`

The `my-custom-query` could then be passed through to the reducer and would allow for much simpler identification of queries. Part of the issue with using the c

[2018-02-02 17:44] MickeyKay commented on #78
Also, in case it's helpful, our actual use case has to do with setting the "primary" resource in our store. Amidst making a several Kasia queries for posts (e.g. 1. the main post and 2. related posts), we need a way to differentiate and flag the main post in the store.

[2018-02-02 21:26] MickeyKay commented on #77
Yeah, I'm thinking this is probably less a Kasia-specific question and more a general wp-api question. This is newer territory for me, so thanks for your patience :)

[2018-02-02 21:26] #77 closed

[2018-02-04 06:34] MickeyKay opened #79 "Fix broken "The shape of things" link in the readme"
Right now there's a link to [The shape of things](https://github.com/outlandishideas/kasia#the-shape-of-things) in the readme that is broken. In addition to fixing the link, any chance we can actually add this section to the readme? I think it would be very helpful.

[2018-07-30 22:32] MickeyKay commented on #63
Are folks still interested in this? If so, @joshlevinson and I have an example we could formalize. It's a bit specific to our org's share infrastructure, but I imagine might still be useful.

[2018-08-02 23:01] MickeyKay opened #80 "React 16 support"
Any plans to upgrade support for React 16? We're upgrading all the apps in our org, and will likely need to fork Kasia to do so. Anything in the works on this front that we can collaborate on? If not, we'll move ahead on our end and reach back out when we're complete. Thanks!

[2018-08-03 07:46] sdgluck commented on #63
@MickeyKay Yes we certainly would be interested in seeing an example, if you have one to share. Has it been part of your work re: #80?

[2018-08-03 07:49] sdgluck commented on #80
Thanks for raising this.

There aren't any upgrade plans in progress/the pipeline currently. We have stalled on v5 due to other priorities, however I would love to see it completed and released this side of 2019.

What is necessary for React 16 support? Perhaps there is some work that can be done on the v5 branch that would mean a single major version release could support React 16 and include the

[2018-08-03 16:38] joshlevinson commented on #80
@sdgluck do you have a 5.0.0 roadmap?

[2018-10-03 08:59] sdgluck commented on #80
@joshlevinson Sorry, I missed your comment.

This is just copied from the changelog on v5 branch. Some of these are incomplete, which I have marked with a star.

- [BREAKING] Improved preloader API (`runSagas` has become `runPreloaders`, see docs)
- [BREAKING] Actions (e.g. `createPostRequest`/`createQueryRequest`) signature changed to take single object as argument
- Option to preserve return val

[2018-10-17 18:05] MickeyKay opened #81 "How to properly preload within another saga"
Hi there,

I have the following setup, in which everything is server-side-rendered:
- A single higher-order `Article` component which preloads a query for article data. This data includes ids for `commentIds`.
- A `Comments` child component, which takes the `commentIds` prop and preloads a query for comment data.
- In our SSR data-dependency hook, we run the following:
[code]

The `Article` compon

[2018-10-22 19:36] MickeyKay commented on #81
Bump ❓

[2018-10-31 17:00] MickeyKay commented on #81
@sdgluck any word here? Apologies for pressing, however this is now something we've got two use cases for so I'll be diving in shortly.

[2018-10-31 20:43] sdgluck commented on #81
Hey, apologies for the delay in responding.

I have added a test which I think covers what you are asking: https://github.com/outlandishideas/kasia/blob/master/test/util/preload.js#L129

(See [this component](https://github.com/outlandishideas/kasia/blob/master/test/__mocks__/components/CustomQueryNestedPreload.js) too, which uses `preload` of another Kasai component.)

Take a look and tell me if

[2018-11-01 15:43] sdgluck commented on #81
@MickeyKay

I've noticed that you are not calling the result of your call to `preload`.

Like this:

[code]
`preload` returns a generator which needs to be "started" before you yield to it. The reason for this is that usually when you are calling `preload` in the context of `runSagas` we don't want to actually preload at the time of calling `preload`, but defer the execution of preloading to the `

[2018-11-02 07:18] MickeyKay commented on #81
Aha, worked! Thank you!!!

[2018-11-02 07:18] #81 closed, assigned to nobody